.ynews {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #f0f0f0;
    margin-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
  }
.heading_span{
    color: rgba(0, 0, 0, 0.459);
    
}
.mar h2{
    font-size: 27px;
}
.mar p{
    font-size: 14px;
    color: black;
}
.heading_span:hover{
    border: none;
    cursor:text;
}
.input_box{
    margin-left: -100px;
   
}
.flex{
    padding: 0px 0px 8px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.flex input{
    width: 340px;
height:35px;
border-radius: 6px;
padding-left:10px;
border: 0.5px solid rgba(0, 0, 0, 0.396);
outline: none;
}
.flex select{
    height: 35px;
    width: 130px;
    margin-left: -40px;
    border-radius: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.396);
    outline: none;
}
.flex button{
    height: 35px;
    border-radius: 6px;
    border: none;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    width: 180px;
   
}
.flex button:nth-child(3){
  background-color: #f53838;
  color: white;
  margin-right: 40px;
  margin-left: -40px;
}
.button_div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    gap: 15px;
    font-size: 15px;
 
}
.button_div button{
    border: 0.5px solid rgba(0, 0, 0, 0.075);
    border-radius: 6px;
    padding: 4px;
    width: 140px;
    color: rgba(20, 20, 20, 0.657);
}
.button_div button:nth-child(1){
    background-color:#2bb673;
    color: #fff;
}
.pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
   

}
.pagination div{
    display: flex;
    justify-content: space-around;
    width: 300px;
 
}
.pagination div p{
    font-size: 16px;
}
.pagination button{
    border: none;
    width: 100px;
    border-radius: 6px;
    
}
.grid_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 40px;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.map_div{
    border-radius: 10px;
    border: 1px solid red;
    
}
.map_div img{
    height: 200px;
    width: 290px;
}
.map_div div{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.map_div div img{
    height: 45px;
    width: 45px;
}
.logo{
 border-radius: 50%;
}
.view_btn{
    border: none;
}